*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    }
    body{
        min-height: 100vh;
        background-image: url(./assets/music23.webp);
        background-size: cover;
        background-repeat: no-repeat ;
        background-position: center;
    }
   
    .nav-container{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(255, 255, 255, 0.2);
        backdrop-filter: 8px;
        height: 10vh;
        width: 100%;
        border-radius: 5px;
        padding: 15px;
        position: fixed;
        top: 0px;
        left: 0px;
    }

    .navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        margin: 0 auto ;
    }
    @media screen  and (max-width: 422px) {
        .navbar{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            flex-wrap: wrap;
        }
        
    }

    .navbar__logo{
        color: white;
        font-size: 24px;
        width: 65px;         
    }

    .btn__btngrp{
        padding: 18px 24px;
        margin-right: 2px;       
        border-radius: 5px;        
    }

    .btngrp__bttn{
        font-size: 16px;
        padding: 5px 12px;
        border-radius: 20px;
        color: white;   
        cursor: pointer; 
        border: none;  
        transition: all 300ms;  
    }
    
    .btngrp__bttn:hover{
     opacity: 0.6;
     
    }
    .btngrp__bttn-SignUp{
        background-color: green;
    }

    .btngrp__bttn-Login{
        background-color: orange;
    }
    
    .navbar__btn{
        display: flex;
        align-items: center;
    }
    .navbar__btn-anchor{
        color: white;
        text-decoration: none;
        font-size: larger;
    }

    .navbar__btn-anchor:hover{
        text-decoration: underline;
    }
    
    /*intro section*/


    .intro-page{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 150px 100px 80px 00px;
        
    }
     @media screen and (max-width:634px) {
     .intro-page{
        padding-bottom: 36px;
     }

    }


    .introduction{
        color: white;
        font-weight: 500;
        font-size: 32px;
        width: 80%;
    }
    @media screen and (max-width:634px) {
        .introduction__header{
            font-size: 28px;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
        }

    }

    .introduction-button{
        margin: 0 auto;
        width: 100%;
        max-width: 40vh;
    margin-top: 20px;
    padding: 24px;
    color: white;
    background-color: blue;
    font-size: 20px;
    font-weight: 600;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: all 300ms;
    }
    
   
    .introduction-button:hover{
        border: 0.8;
        box-shadow: 5px 5px 5px rgba(255, 255, 255, 0.1);
    }
    .introduction-para{
        font-size: 20px;
    }
    @media screen and (max-width:634px) {
        .introduction__para{
            font-size: 18px;
        }
    }





    /*about section*/

    #About{
        padding: 0px 16px;
        margin: auto;
    } 
    

    .card-info{
        width: 40%;
    }
    
    .card-para{
        color: white;
        font-size: 18px;
        padding-bottom: 16px;        
    }
    @media screen and (max-width: 785px) {
        .card-info{
            margin: auto;
            font-size: 16px;
            width: 70%;
        }
        .card-para{
            padding-bottom: 8px;  
        }
    }

    .login-card{
        background-color: bisque;
        width: 100%;
        max-width: 40vh;        
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        color: rgb(65, 65, 211);
        padding: 25px;  
        border-radius: 10px;
    }
     @media screen and (max-width: 634px) {
        .login-card-heading{
            font-size: 12px;
        }        
    }   
    
    .login-bttn{
        margin-top: 10px;
        background-color: blue;
        padding: 12px 24px;
        font-size: 24px;
        color: white;
        cursor: pointer;
        border-radius: 20px;
        border: none;
        transition: all 300ms;
    }
      @media screen and (max-width: 634px) {
        .login-bttn{
            font-size: 12px;
             font-size: 16px;
        padding: 5px 12px;
        border-radius: 20px;
        color: white;   
        cursor: pointer; 
        border: none;
        }        
    }   
    

    .login-bttn:hover{
       box-shadow: 5px, 5px, 5px rgba(255, 255, 255, 0.5);
        opacity: 0.8;
    }

    /*footer*/

    footer{
    background-color: black;
        color: white;
        padding: 36px;
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
        
 